.modal-container {
    margin: 0 !important;
    position: absolute;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.modal-item-img {
    display: inline-block;
    margin: 0 !important;
    width: 400px;
    height: 400px;
}

.modal-item-img img{ 
    max-width: 100%;
    max-height: 100%;
}

.modal-item-data {
    margin: 0 !important;
    padding-left: 20px;
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left !important;
}

.modal-item-metadata {

}

.modal-external-link {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

