.modal-container {
    margin: 0 !important;
    position: absolute;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*

@media screen and (max-width : 960px) {
    .modal-container {
        flex-direction: column;
    }
}

*/

.modal-item-img {
    display: inline-block;
    margin: 0 !important;
    width: 400px;
    height: 400px;
}

.modal-item-img img{ 
    max-width: 100%;
    max-height: 100%;
}

.modal-item-data {
    margin: 0 !important;
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left !important;

    padding-top: 20px;
}

.modal-item-metadata {
    margin: 0 !important;
    padding-bottom: 20px;
}

.modal-external-link {
    margin: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
    border-top: 1px solid gray;
}

